<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Login card start -->
        <div class="login-card card-body auth-body">
          <form name="loginForm" class="md-float-material" (ngSubmit)="login()" #f="ngForm" novalidate>
            <div class="text-center">
              BITW Admin Template
            </div>
            <div class="auth-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center"><i class="icofont icofont-lock text-primary f-80"></i></h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-left p-b-5">Sign in with your regular account</p>
              <div class="input-group">
                <input type="email" class="form-control box-shadow-none" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                <span class="md-line"></span>
                <div *ngIf="f.submitted && !username.valid && false" class="help-block">Username is required</div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control box-shadow-none" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                <span class="md-line"></span>
                <div *ngIf="f.submitted && !password.valid && false" class="help-block">Password is required</div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Forget Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy your stay.</p>
                  <p class="text-inverse text-left"><b>BITW Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <strong style="color: black">BITW</strong>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Login card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
